* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
/* task 1  */

h2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
}

#categories .item {
  list-style: none;
  list-style-type: none;
  margin-bottom: 24px;
  padding: 16px;
  background-color: #f6f6fe;
  border-radius: 8px;
}

.item ul {
  padding: 0;
  margin: 0;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.item li {
  display: block;
  list-style: none;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
}

/* task 2  */
.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery_item {
  width: 300px;
  height: 300px;
  margin: 16px;
  border: 3px solid #4ab38c;
  list-style: none;
}

.gallery_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* task 3 */
#name-input {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  display: block;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;

  margin-bottom: 16px;
  width: 100%;
}

#name-input + h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.04em;
  text-align: left;
  margin: 0;
}

/* 
task 4,
task 5 
 */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button[type="submit"],
.change-color {
  padding: 8px 16px;

  background-color: #4e75ff;
  border: none;
  border-radius: 8px;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #fff;
}

.login-form label {
  display: block;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;

  margin-bottom: 8px;
}

.login-form input {
  display: block;

  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;

  margin-top: 8px;
  width: 500px;
}
